.button{
-fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
}

.startMainBtn{
  -fx-background-repeat: no-repeat;
    -fx-pref-tile-width: 80;
    -fx-pref-height: 80;
    -fx-background-image: url("../images/mainScreenVeiws/if_start_60207.png") ;
}

.exitMainBtn{
-fx-background-repeat: no-repeat;
    -fx-pref-tile-width: 80;
    -fx-pref-height: 80;
    -fx-background-image: url("../images/mainScreenVeiws/if_window-close_23646.png") ;
}

.soundMainBtn{
-fx-background-repeat: no-repeat;
    -fx-pref-tile-width: 80;
    -fx-pref-height: 80;
    -fx-background-image: url("../images/mainScreenVeiws/m.png") ;
}

.scoreMainBtn{
    -fx-background-color:
            rgba(0,0,0,0.05),
            linear-gradient(#dcca8a, #c7a740),
            linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
            linear-gradient(#f6ebbe, #e6c34d);

    -fx-background-radius: 50;
    -fx-padding: 10 20 10 20;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16px;
     -fx-font-weight: bold;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
.scoreMainBtn Text {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}
.scoreMainBtn:hover {
    -fx-background-color:
            linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
            rgba(0,0,0,0.05),
            linear-gradient(#ff9a22, #ff9a22),
            linear-gradient(#ecebe9 0%, #ecebe9 20%, #ecebe9 80%, #ecebe9 100%),
            linear-gradient(#ecebe9, #ecebe9);
}

#gameOneMainTF, #gameTwoMainTF {
    -fx-background-color:
            linear-gradient(#dcca8a, #c7a740),
            rgba(0,0,0,0.05),
            linear-gradient(white, white);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
