.button{
-fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
}

.restartPlayBtn{
  -fx-background-repeat: no-repeat;
    -fx-pref-tile-width: 80;
    -fx-pref-height: 80;
    -fx-background-image: url("../images/playScreenVeiws/if_button_blue_repeat_40719.png") ;
}

.paysePlayBtn{
  -fx-background-repeat: no-repeat;
    -fx-pref-tile-width: 80;
    -fx-pref-height: 80;
    -fx-background-image: url("../images/playScreenVeiws/if_pause_60200.png") ;
}

.backPlayBtn{
  -fx-background-repeat: no-repeat;
    -fx-pref-tile-width: 80;
    -fx-pref-height: 80;
    -fx-background-image: url("../images/playScreenVeiws/if_back_32384.png") ;
}

#label, {
    -fx-background-radius: 30;
        -fx-background-insets: 0,15,2,3,0;
        -fx-text-fill: #00000;
        -fx-font-weight: bold;
        -fx-font-size: 20px;
        -fx-padding: 10 20 10 20;
}